.icon svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $30px 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 15px;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -15px;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: 15px;
    padding-left: 15px;
}

.footer-col-1 {
    width: -webkit-calc(35% - (15px));
    width:         calc(35% - (15px));
}

.footer-col-2 {
    width: -webkit-calc(20% - (15px));
    width:         calc(20% - (15px));
}

.footer-col-3 {
    width: -webkit-calc(45% - (15px));
    width:         calc(45% - (15px));
}
